body {
  text-align: center;
}
img {
  display: inline-block;
}

ul {
  display: flex;
  list-style: none;
  border-radius: 20px;
  background-color: black;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 60px;
  margin-right: 60px;
   justify-content: center;
}

ul li a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px 15px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
  text-align: center;
 
}

.banner  {
background-image: url('img/Senbosa.jpg');
color: white;
text-align: left;
padding-top: 300px;
padding-bottom: 10px;
padding-left: 10px;
border-radius: 30px;
margin-left: 65px;
margin-right: 65px;
  font-size: 40px;


background-size: cover;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.cards {
  display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;

}

.card {
  background-color: rgb(255, 235, 208);
  border-radius: 10px;
  width: 300px;
  box-sizing:content-box;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-sizing: content-box;
  margin-top: 10px;
}

.p {
  text-align: center;
}

footer {
    text-align: left;
  margin-left: 80px;
}




